{
   "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "Chrome >= 59"
          ]
        }
      }
    ],
    "@babel/preset-react",
    "minify"
  ],
  "plugins":[
    ["@babel/plugin-proposal-decorators", {"legacy": true}], 
    "@babel/plugin-proposal-class-properties"
  ],
  "sourceType": "script"
}