{
   "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "Chrome >= 59"
          ]
        }
      }
    ],
  ],
  "plugins":[
    ["@babel/plugin-proposal-decorators", {"legacy": true}], 
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "prod": {
      "presets": [['minify', {
        builtIns: false,
        evaluate: true,
        mangle: {
          topLevel: true,
          eval: true
        },
        keepClassName: false,
        keepFnName: false
      }]],
      "comments": false
    },
  }
}